{
  "openapi": "3.1.0",
  "info": {
    "title": "BitBadges API",
    "description": "The BitBadges API is a RESTful API that allows developers to interact with the BitBadges blockchain and indexer. The API provides endpoints for retrieving account details, collections, badges, and more. The API requires an API key for authentication.\n\n```tsx\nimport { BigIntify, Stringify, Numberify, BitBadgesAPI } from \"bitbadgesjs-sdk\";\nconst BitBadgesApi = new BitBadgesAPI({ convertFunction: BigIntify, ....})\nconst collections = await BitBadgesApi.getCollections(...);\n```\n\nSee the [documentation](https://docs.bitbadges.io/for-developers/bitbadges-api/api) for information on how to use the API.\n\nYou can go to [the developer portal](https://bitbadges.io/developer) to create your API key.",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.bitbadges.io/api/v0",
      "description": "Official API"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "operationId": "getAccounts",
        "summary": "Get Accounts",
        "description": "Retrieves accounts and accompanying details.\n\n```tsx\nconst accountsRes = await BitBadgesApi.getAccounts({\n  accountsToFetch: [\n    {\n      //example\n      address: 'bb1...',\n      fetchSequence: true,\n      fetchBalance: true,\n      viewsToFetch: [\n        {\n          viewType: 'badgesCollected',\n          viewId: 'badgesCollected',\n          bookmark: '',\n        },\n      ],\n    },\n  ],\n})\nconst account = accountsRes.accounts[0]\n```\nDocumentation References / Tutorials:\n- **[Fetching Accounts](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-accounts)**\n",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetAccountsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ],
        "x-internal": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountsPayload"
              }
            }
          }
        }
      }
    },
    "/collections": {
      "post": {
        "operationId": "getCollectionsBatch",
        "summary": "Get Collections",
        "tags": [
          "Badges"
        ],
        "description": "Retrieves badge collections and associated details.\n  ```tsx\nconst res = await BitBadgesApi.getCollections({\n  collectionsToFetch: [\n    {\n      collectionId: 1n,\n      metadataToFetch: {\n        badgeIds: [{ start: 1n, end: 10n }],\n      },\n      fetchTotalAndMintBalances: true,\n      viewsToFetch: [\n        {\n          viewType: 'owners',\n          viewId: 'owners',\n          bookmark: '',\n        },\n      ],\n    },\n  ],\n})\nconst collection = res.collections[0]\n```\nDocumentation References / Tutorials:\n- **[Fetching Collections](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-collections)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetCollectionsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollectionsPayload"
              }
            }
          }
        }
      }
    },
    "/collection/{collectionId}/balance/{address}": {
      "post": {
        "operationId": "getBadgeBalanceByAddress",
        "summary": "Get Badge Balances",
        "description": "Retrieves the balance of a specific address for a collection.\n\n```tsx\nconst res = await BitBadgesApi.getBadgeBalanceByAddress(...);\n```\n\nDocumentation References / Tutorials:\n- **[Fetching Balances](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-balances)**",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The ID of the collection containing the badge.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address for which the badge balance is to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetBadgeBalanceByAddressSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBadgeBalanceByAddressPayload"
              }
            }
          }
        }
      }
    },
    "/status": {
      "post": {
        "operationId": "getStatus",
        "summary": "Get Status",
        "description": "Gets the current status details about the blockchain / indexer (gas, block height, etc).\n  ```tsx\n  const res = await BitBadgesApi.getStatus();\n  ```",
        "tags": [
          "Miscellanous"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetStatusSuccessResponse"
                }
              }
            },
            "description": "Returns the current status of the blockchain / indexer"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStatusPayload"
              }
            }
          }
        }
      }
    },
    "/search/{searchValue}": {
      "post": {
        "operationId": "searchByValue",
        "summary": "Search",
        "description": "description: |\n  Searches for collections, badges, accounts, and address lists based on the provided search value.\n  ```tsx\n  const res = await BitBadgesApi.getSearchResults(searchValue, { ... });\n```",
        "tags": [
          "Miscellanous"
        ],
        "parameters": [
          {
            "name": "searchValue",
            "in": "path",
            "description": "The value to search for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSearchPayload"
              }
            }
          }
        }
      }
    },
    "/collection/{collectionId}/{badgeId}/owners": {
      "post": {
        "operationId": "getOwnersForBadge",
        "summary": "Get Badge Owners",
        "tags": [
          "Badges"
        ],
        "description": "Retrieves the owners in a paginated format for a specific badge in a collection.\n\n```tsx\nconst res = await BitBadgesApi.getOwnersForBadge(...);\n```\n\nDocumentation References / Tutorials:\n- **[Fetching Balances](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-balances)**",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The numeric collection ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "badgeId",
            "in": "path",
            "description": "The numeric badge ID to retrieve owners for.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetOwnersForBadgeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOwnersForBadgePayload"
              }
            }
          }
        }
      }
    },
    "/collection/{collectionId}/{badgeId}/activity": {
      "post": {
        "operationId": "getBadgeActivity",
        "summary": "Get Badge Activity",
        "description": "Retrieves the activity in a paginated format for a specific badge in a collection.\n```tsx\nconst res = await BitBadgesApi.getBadgeActivity(...);\n```",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The ID of the collection containing the badge.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "badgeId",
            "in": "path",
            "description": "The ID of the badge for which activity is to be retrieved.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetBadgeActivitySuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBadgeActivityPayload"
              }
            }
          }
        }
      }
    },
    "/collection/{collectionId}/refresh": {
      "post": {
        "operationId": "refreshMetadata",
        "summary": "Refresh Metadata",
        "tags": [
          "Badges"
        ],
        "description": "Triggers a metadata refresh for a specific collection. BitBadges API uses a refresh queue system for fetching anything off-chain.\nThis will refetch any details for the collection (such as metadata, balances, approval details, etc). Note it will reject if recently refreshed.\nUses a cooldown of 5 minutes.\n\n```tsx\nconst res = await BitBadgesApi.refreshMetadata(...);\n```",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The ID of the collection to trigger metadata refresh.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshMetadataPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iRefreshMetadataSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": true
      }
    },
    "/claims/complete/{claimId}/{address}": {
      "post": {
        "operationId": "completeClaim",
        "summary": "Complete Claim",
        "tags": [
          "Claims"
        ],
        "description": "Completes a claim for a specific address. First, we simulate the claim and fail immediately if simulation does not pass.\nIf simulation is successful, we put the claim attempt into the queue amd return its ID.\nYou can then fetch its status via the claim attempt status endpoint.\n\n\n```tsx\nconst res = await BitBadgesApi.completeClaim(claimId, address, { ...body }); //This route\nconsole.log(res.claimAttemptId);\n\n//Sleep 2 seconds\n\nconst res = await BitBadgesApi.getClaimAttemptStatus(res.claimAttemptId);\nconsole.log(res) // { success: true }\n```\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "The ID of the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address of the user making the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteClaimPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCompleteClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ]
      }
    },
    "/claims/simulate/{claimId}/{address}": {
      "post": {
        "operationId": "simulateClaim",
        "summary": "Simulate Claim",
        "tags": [
          "Claims"
        ],
        "description": "Simulates a claim for a user. This will check if the claim is valid and that all criteria is satisfied. Note that it returns a fake ID for compatibility\nwith certain integrations. A successful response means simulation passed.\n\n```tsx\nconst res = await BitBadgesApi.simulateClaim(...);\n```\n\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "The ID of the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address of the user making the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateClaimPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iSimulateClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ]
      }
    },
    "/claims/reserved/{claimId}/{address}": {
      "post": {
        "operationId": "getReservedCodes",
        "summary": "Get Reserved Claim Codes",
        "tags": [
          "Claims"
        ],
        "description": "Retrieves the reserved codes for a claim. For on-chain approvals, we use a claim code reserve\nsystem where the claim code is to be used in the eventual blockchain transaction.\nThis is used to bridge the gap between the off-chain claim and on-chain approval / transfer.\n\n```tsx\nconst res = await BitBadgesApi.getReservedCodes(...);\n```\n\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "The ID of the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address of the user making the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetReservedClaimCodesSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetReservedClaimCodesPayload"
              }
            }
          }
        }
      }
    },
    "/claims/status/{claimAttemptId}": {
      "post": {
        "operationId": "getClaimAttemptStatus",
        "tags": [
          "Claims"
        ],
        "summary": "Get Claim Attempt Status",
        "description": "Retrieves the status of a claim attempt by the ID received when submitting.\n\n```tsx\nconst res = await BitBadgesApi.getClaimAttemptStatus(...);\n```\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**",
        "parameters": [
          {
            "name": "claimAttemptId",
            "in": "path",
            "description": "The transaction ID of the claim attempt.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetClaimAttemptStatusSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClaimAttemptStatusPayload"
              }
            }
          }
        }
      }
    },
    "/user/updateAccount": {
      "post": {
        "operationId": "updateAccountInfo",
        "summary": "Update Profile",
        "tags": [
          "Accounts"
        ],
        "description": "Updates the profile/account information for a user. Only the provided fields will be updated.\n```tsx\nconst res = await BitBadgesApi.updateAccountInfo(...);\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountInfoPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iUpdateAccountInfoSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ],
        "x-internal": true
      }
    },
    "/browse": {
      "post": {
        "operationId": "GetBrowse",
        "summary": "Get Browse Collections",
        "tags": [
          "Miscellanous"
        ],
        "description": "Gets details for a browse/explore page.\n```tsx\nconst res = await BitBadgesApi.GetBrowse(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetBrowseSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBrowsePayload"
              }
            }
          }
        }
      }
    },
    "/broadcast": {
      "post": {
        "operationId": "broadcastTx",
        "tags": [
          "Transactions"
        ],
        "summary": "Broadcast Transaction",
        "description": "Broadcasts a transaction to the blockchain.\n\n```tsx\nconst res = await BitBadgesApi.broadcastTx(...);\n```\n\n\nDocumentation References / Tutorials:\n- **[Create, Genereate, and Sign Txs](https://docs.bitbadges.io/for-developers/create-and-broadcast-txs)**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BroadcastTxPayload"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iBroadcastTxSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/simulate": {
      "post": {
        "operationId": "simulateTx",
        "summary": "Simulate Transaction",
        "description": "Simulates a transaction on the blockchain.\n```tsx\nconst res = await BitBadgesApi.simulateTx(...);\n```\n\nDocumentation References / Tutorials:\n- **[Create, Genereate, and Sign Txs](https://docs.bitbadges.io/for-developers/create-and-broadcast-txs)**",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SimulateTxPayload"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iSimulateTxSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/addressLists": {
      "put": {
        "operationId": "updateAddressLists",
        "tags": [
          "Address Lists"
        ],
        "summary": "Update Address Lists",
        "description": "Updates off-chain address lists.\n\n```tsx\nconst res = await BitBadgesApi.updateAddressLists(...);\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAddressListsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iUpdateAddressListsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userIsOwner": [],
            "userSignedIn": []
          }
        ]
      },
      "post": {
        "operationId": "createAddressLists",
        "summary": "Creates Address Lists",
        "tags": [
          "Address Lists"
        ],
        "description": "Creates address lists stored by BitBadges centralized servers.\n\n```tsx\nconst res = await BitBadgesApi.createAddressLists(...);\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAddressListsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iUpdateAddressListsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userIsOwner": [],
            "userSignedIn": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteAddressLists",
        "summary": "Delete Address Lists",
        "tags": [
          "Address Lists"
        ],
        "description": "Deletes address lists. Must be created off-chain.\n```tsx\nconst res = await BitBadgesApi.deleteAddressLists(...);\n\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAddressListsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iDeleteAddressListsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userIsOwner": [],
            "userSignedIn": []
          }
        ]
      }
    },
    "/addressLists/fetch": {
      "post": {
        "operationId": "getAddressLists",
        "summary": "Get Address Lists",
        "tags": [
          "Address Lists"
        ],
        "description": "Gets address lists. Can be on-chain or off-chain.\n```tsx\nconst listsRes = await BitBadgesApi.getAddressLists([{\n    //example\n    listId: \"...\",\n    viewsToFetch: [{\n        viewType: 'listActivity',\n        viewId: 'listActivity',\n        bookmark: ''\n    }]\n}])\n\nconst list = listsRes[0];\n```\n\n\nDocumentation References / Tutorials:\n- **[Fetching Lists](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-lists)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetAddressListsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAddressListsPayload"
              }
            }
          }
        }
      }
    },
    "/siwbbRequest/rotate": {
      "post": {
        "operationId": "rotateSIWBBRequest",
        "summary": "Rotate SIWBB Request",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Rotates a Sign In with BitBadges request.\n\n```tsx\nconst res = await BitBadgesApi.rotateSIWBBRequest(...);\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateSIWBBRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iRotateSIWBBRequestSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/siwbbRequest": {
      "delete": {
        "operationId": "deleteSIWBBRequest",
        "summary": "Delete SIWBB Request",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Deletes a authentication code from the user's account.\n\n```tsx\nconst res = await BitBadgesApi.deleteSIWBBRequest(...);\n```",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSIWBBRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iDeleteSIWBBRequestSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      },
      "post": {
        "operationId": "createSIWBBRequest",
        "summary": "Create SIWBB Request",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Creates an authentication code. This is used for the Sign In wtih BitBadges flow.\n\n```tsx\nconst res = await BitBadgesApi.createSIWBBRequest(...);\n```",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSIWBBRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCreateSIWBBRequestSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/developerApp/siwbbRequests": {
      "post": {
        "operationId": "getSIWBBRequestsForDeveloperApp",
        "summary": "Get SIWBB Requests For Developer App",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Gets all saved docs for the Sign In with BitBadges flow for a specific app. This is useful, for example,\nif you are authenticating in-person and want to pre-fetch all authentication details\nto avoid doing it at verification time.\n\nThis will return the actual authentication details, not just the codes.\n\n```tsx\nconst res = await BitBadgesApi.getSIWBBRequestsForDeveloperApp(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetSIWBBRequestsForDeveloperAppSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSIWBBRequestsForDeveloperAppPayload"
              }
            }
          }
        }
      }
    },
    "/siwbbRequest/verify": {
      "post": {
        "operationId": "verifySIWBBRequest",
        "summary": "Verify SIWBB Request",
        "tags": [
          "Sign In with BitBadges",
          "API Authentication"
        ],
        "description": "A generic route for verifying sign-in requests. This is just a helper route\nthat will handle verification + checking asset ownership requirements for you.\nNote that you can also implement this yourself or use the getAndVerifySIWBBRequest route.\n\n\n```tsx\nconst res = await BitBadgesApi.verifySIWBBRequest(...);\n```\n\n\nDocumentation References / Tutorials:\n- **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGenericBlockinVerifySuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericBlockinVerifyPayload"
              }
            }
          }
        }
      }
    },
    "/verifyOwnershipRequirements": {
      "post": {
        "operationId": "verifyOwnershipRequirements",
        "summary": "Verify Ownership Requirements",
        "tags": [
          "Badges"
        ],
        "description": "A generic route for verifying a custom set of asset ownership requirements. This supports badges, address lists, and Ethereum / Polygon NFTs.\n\n```tsx\nconst res = await BitBadgesApi.verifyOwnershipRequirements(...);\n```\n\nDocumentation References / Tutorials:\n- **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGenericVerifyAssetsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericVerifyAssetsPayload"
              }
            }
          }
        }
      }
    },
    "/claimAlerts/send": {
      "post": {
        "operationId": "sendClaimAlert",
        "summary": "Sends Claim Alert",
        "tags": [
          "Claim Alerts"
        ],
        "description": "Sends claim alert notifications out. Claim alerts are in-app notifications to alert a user.\n\n```tsx\nconst res = await BitBadgesApi.sendClaimAlert(...);\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendClaimAlertsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iSendClaimAlertsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      }
    },
    "/claimAlerts": {
      "post": {
        "operationId": "getClaimAlerts",
        "summary": "Get Claim Alerts",
        "tags": [
          "Claim Alerts"
        ],
        "description": "Gets claim alerts for a collection.\n```tsx\nconst res = await BitBadgesApi.getClaimAlerts(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetClaimAlertsForCollectionSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userSignedIn": [],
            "userIsManager": []
          }
        ],
        "x-internal": true,
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClaimAlertsForCollectionPayload"
              }
            }
          }
        }
      }
    },
    "/collection/{collectionId}/refreshStatus": {
      "post": {
        "operationId": "getRefreshStatus",
        "summary": "Get Refresh Status",
        "tags": [
          "Badges"
        ],
        "description": "Gets the refresh status for a collection. Used to track if any errors occur during a refresh, or if it is in the queue or not.\n\n```tsx\nconst res = await BitBadgesApi.getRefreshStatus(...);\n```",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The collection ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iRefreshStatusSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/maps": {
      "post": {
        "operationId": "getMaps",
        "summary": "Get Maps",
        "tags": [
          "Maps and Protocols"
        ],
        "description": "Gets maps for a collection.\n\n```tsx\nconst res = await BitBadgesApi.getMaps(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetMapsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": true,
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMapsPayload"
              }
            }
          }
        }
      }
    },
    "/mapValues": {
      "post": {
        "operationId": "getMapValues",
        "summary": "Get Map Values",
        "tags": [
          "Maps and Protocols"
        ],
        "description": "Gets map values for a collection.\n\n```tsx\nconst res = await BitBadgesApi.getMapValues(...);\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMapValuesPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetMapValuesSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attestation/fetch": {
      "post": {
        "operationId": "getAttestation",
        "summary": "Get Attestation",
        "tags": [
          "Attestations"
        ],
        "description": "Gets a verifiable attestation.\n\n```tsx\nconst res = await BitBadgesApi.getAttestation(...);\n```\n\n\nDocumentation References / Tutorials:\n- **[Attestations](https://docs.bitbadges.io/for-developers/core-concepts/verifiable-attestations)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetAttestationsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAttestationsPayload"
              }
            }
          }
        }
      }
    },
    "/attestation": {
      "post": {
        "operationId": "createAttestation",
        "tags": [
          "Attestations"
        ],
        "summary": "Create Attestation",
        "description": "Creates a attestation.\n```tsx\nconst res = await BitBadgesApi.createAttestation(...);\n```\n\nDocumentation References / Tutorials:\n- **[Attestations](https://docs.bitbadges.io/for-developers/core-concepts/verifiable-attestations)**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAttestationPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCreateAttestationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "put": {
        "operationId": "updateAttestation",
        "tags": [
          "Attestations"
        ],
        "summary": "Update Attestation",
        "description": "Updates a attestation.\n```tsx\nconst res = await BitBadgesApi.updateAttestation(...);\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAttestationPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iUpdateAttestationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Attestations"
        ],
        "operationId": "deleteAttestation",
        "summary": "Delete Attestation",
        "description": "Deletes a attestation.\n```tsx\nconst res = await BitBadgesApi.deleteAttestation(...);\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAttestationPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iDeleteAttestationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/collection/{collectionId}/filter": {
      "post": {
        "tags": [
          "Badges"
        ],
        "operationId": "filterBadgesInCollection",
        "summary": "Custom Filter Badges",
        "description": "Filter badges in a collection based on filter values.\n\n```tsx\nconst res = await BitBadgesApi.filterBadgesInCollection(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iFilterBadgesInCollectionSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": true,
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "schema": {
              "description": "The collection ID to filter.",
              "$ref": "#/components/schemas/NumberType"
            },
            "required": true
          },
          {
            "name": "badgeIds",
            "in": "query",
            "schema": {
              "items": {
                "$ref": "#/components/schemas/iUintRange"
              },
              "description": "Limit to specific badge IDs. Leave undefined to not filter by badge ID.",
              "type": "array",
              "examples": [
                [
                  {
                    "start": "1",
                    "end": "10"
                  }
                ]
              ]
            },
            "required": false
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "items": {
                "type": "string"
              },
              "description": "Limit to specific lists. Leave undefined to not filter by list.",
              "type": "array"
            },
            "required": false
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "items": {
                "type": "string"
              },
              "description": "Limit to specific lists. Leave undefined to not filter by list.",
              "type": "array"
            },
            "required": false
          },
          {
            "name": "mostViewed",
            "in": "query",
            "schema": {
              "enum": [
                "daily",
                "allTime",
                "weekly",
                "monthly",
                "yearly"
              ],
              "description": "mostViewed is a special view that sorts by most viewed badges. May be incompatible with other filters.",
              "type": "string"
            },
            "required": false
          },
          {
            "name": "bookmark",
            "in": "query",
            "schema": {
              "description": "Pagination bookmark. Leave undefined or \"\" for first request.",
              "type": "string"
            },
            "required": false
          },
          {
            "name": "attributes",
            "in": "query",
            "schema": {
              "items": {
                "properties": {
                  "name": {
                    "type": "string",
                    "examples": [
                      "Name"
                    ]
                  },
                  "value": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      }
                    ]
                  }
                },
                "required": [
                  "name",
                  "value"
                ],
                "additionalProperties": false,
                "type": "object"
              },
              "description": "Attribute queries",
              "type": "array"
            },
            "required": false
          }
        ]
      }
    },
    "/claims/fetch": {
      "post": {
        "operationId": "getClaims",
        "summary": "Get Claims",
        "tags": [
          "Claims"
        ],
        "description": "Retrieve claims by ID(s). If the claim is for a private list, you must also prove knowledge of the list ID.\n\n```tsx\nconst res = await BitBadgesApi.getClaims(...);\n```\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetClaimsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClaimsPayload"
              }
            }
          }
        }
      }
    },
    "/claims": {
      "post": {
        "operationId": "createClaim",
        "summary": "Create Claim",
        "tags": [
          "Claims"
        ],
        "description": "Creates a new claim. Creating and maintaining claims are typically recommended\nto be done through the site, not the API, because they require special configuration.\n\n```tsx\nconst res = await BitBadgesApi.createClaim(...);\n```\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClaimPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCreateClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      },
      "put": {
        "operationId": "updateClaim",
        "summary": "Update Claim",
        "tags": [
          "Claims"
        ],
        "description": "Updates an existing claim. Creating and maintaining claims are typically recommended\nto be done through the site, not the API, because they require special configuration.\n\n```tsx\nconst res = await BitBadgesApi.updateClaim(...);\n```\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClaimPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iUpdateClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteClaim",
        "summary": "Delete Claim",
        "tags": [
          "Claims"
        ],
        "description": "Deletes a claim. Creating and maintaining claims are typically recommended\nto be done through the site, not the API, because they require special configuration.\nClaim deletion is a soft delete (i.e. the claim will become inactive and not displayed but can be reinstated with same ID later on).\n\n```tsx\nconst res = await BitBadgesApi.deleteClaim(...);\n```\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteClaimPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iDeleteClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      }
    },
    "/siwbbRequest/appleWalletPass": {
      "post": {
        "operationId": "generateAppleWalletPass",
        "summary": "Generate Apple Wallet Pass",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Generate an Apple Wallet pass based on the provided request body.\n```tsx\n <a\n      onClick={async () => {\n        const res = await BitBadgesApi.generateAppleWalletPass({\n          ...\n        });\n        const pass = Buffer.from(res.data);\n\n        const blob = new Blob([pass], { type: 'application/vnd.apple.pkpass' });\n        const url = window.URL.createObjectURL(blob);\n        if (url) {\n          const link = document.createElement('a');\n          link.href = url;\n          link.download = 'bitbadges.pkpass';\n          link.click();\n        }\n      }}>\n      <img src=\"/images/add_to_apple_wallet.svg\" style={{ width: 150 }} />\n    </a>\n```\n",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGenerateAppleWalletPassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAppleWalletPassPayload"
              }
            }
          }
        }
      }
    },
    "/siwbbRequest/googleWalletPass": {
      "post": {
        "operationId": "generateGoogleWalletPass",
        "summary": "Generate Google Wallet Pass",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Generate a Google Wallet pass based on the provided request body.\n",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGenerateGoogleWalletSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateGoogleWalletPayload"
              }
            }
          }
        }
      }
    },
    "/siwbb/token": {
      "post": {
        "operationId": "exchangeSIWBBAuthorizationCode",
        "summary": "Exchange SIWBB Code",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Exchange either a refresh token or OAuth authorization code for a new access token.\n\nIMPORTANT: Keep your client secret safe and secure.\n\nDocumentation References / Tutorials:\n- **[API Authorization](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iExchangeSIWBBAuthorizationCodeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeSIWBBAuthorizationCodePayload"
              }
            }
          }
        }
      }
    },
    "/siwbb/token/revoke": {
      "post": {
        "operationId": "revokeOauthAuthorization",
        "summary": "Revoke Authorization",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Revokes the authorization. The token can either be an access token or a refresh token.\nThis endpoint revokes all tokens associated with the procided token (thus revoking the entire authorization).\nThis can be called by the user or the authorized application.\n\n```tsx\nawait BitBadgesApi.revokeOauthAuthorization({ token });\n```\n\n\nDocumentation References / Tutorials:\n- **[API Authorization](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/authentication)**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OauthRevokePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iOauthRevokeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/codes": {
      "post": {
        "operationId": "generateCode",
        "summary": "Generate Code",
        "description": "Generates a unique code based on a seed and a zero-based index. This is used for the Codes plugin with claims.\n\n```typescript\nconst response = await fetch('https://api.bitbadges.io/api/codes', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    seedCode: 'mysecretcode',\n    idx: 5\n  }),\n});\nconst data = await response.json();\nconsole.log(data.code); // The generated code\n```\nDocumentation References / Tutorials:\n- **[Codes Plugin](https://docs.bitbadges.io/for-developers/claim-builder/universal-approach-claim-codes)**\n",
        "tags": [
          "Claims"
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "The generated code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "seedCode",
                  "idx"
                ],
                "properties": {
                  "seedCode": {
                    "type": "string",
                    "description": "The seed used to generate the code"
                  },
                  "idx": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "A non-negative integer index"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/claims/{claimId}/attempts": {
      "post": {
        "operationId": "getClaimAttempts",
        "summary": "Get Claim Attempts",
        "tags": [
          "Claims"
        ],
        "description": "Retrieves the attempts for a claim in a paginated format.\n\n```tsx\nconst res = await BitBadgesApi.getClaimAttempts({\n  claimId: \"...\",\n  bookmark: \"\",\n  includeErrors: true\n});\n```\n\nDocumentation References / Tutorials:\n- **[Getting Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**\n- **[Managing Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetClaimAttemptsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "The ID of the claim",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClaimAttemptsPayload"
              }
            }
          }
        }
      }
    },
    "/claims/gatedContent/{claimId}": {
      "post": {
        "operationId": "getGatedContentForClaim",
        "summary": "Get Gated Content for Claim",
        "tags": [
          "Claims"
        ],
        "description": "Generates a unique code based on a seed and a zero-based index. This is used for the Codes plugin with claims.\n\n```typescript\nconst response = await fetch('https://api.bitbadges.io/api/v0/claims/gatedContent/:claimId', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: {}\n});\nconst data = await response.json();\nconsole.log(data);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetGatedContentForClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "description": "The ID of the claim",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGatedContentForClaimPayload"
              }
            }
          }
        }
      }
    },
    "/attestation/verify": {
      "post": {
        "operationId": "verifyAttestation",
        "summary": "Verify Attestation",
        "tags": [
          "Attestations"
        ],
        "description": "Verifies the attestation proofs well-formedness and signatures.\nThis is a helper route for the verifyAttestation SDK function to outsource the verification logic\nto the server. Only supports BitBadges native schemes (bbs, standard).\n",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iVerifyAttestationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyAttestationPayload"
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/bin-actions/{actionName}/{binId}/{binSecret}": {
      "post": {
        "operationId": "performBinActionSingle",
        "summary": "Perform Single Bin Action (URL Auth)",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Performs a single action on a dynamic store using URL authentication.\n\n```typescript\nconst response = await fetch('https://api.bitbadges.io/api/v0/bin-actions/:actionName/:binId/:binSecret', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: payload\n});\nconst data = await response.json();\nconsole.log(data);\n```\n\n```tsx\nawait BitBadgesApi.performBinAction(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iPerformBinActionSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionName",
            "in": "path",
            "description": "The name of the action to perform",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "binId",
            "in": "path",
            "description": "The ID of the dynamic store",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "binSecret",
            "in": "path",
            "description": "The secret key for the dynamic store",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformBinActionPayload"
              }
            }
          }
        }
      }
    },
    "/bin-actions/single": {
      "post": {
        "operationId": "performBinActionSingleWithBodyAuth",
        "summary": "Perform Single Bin Action (Body Auth)",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Performs a single action on a dynamic store using body authentication.\n\n```typescript\nconst response = await fetch('https://api.bitbadges.io/api/v0/bin-actions/single', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: {\n    dynamicDataId: binId,\n    dataSecret: binSecret,\n    actionName: actionName,\n    payload: payload\n  }\n});\nconst data = await response.json();\nconsole.log(data);\n```\n\n```tsx\nawait BitBadgesApi.performBinAction(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iPerformBinActionSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformBinActionSingleWithBodyAuthPayload"
              }
            }
          }
        }
      }
    },
    "/bin-actions/batch/{binId}/{binSecret}": {
      "post": {
        "operationId": "performBinActionBatch",
        "summary": "Perform Batch Bin Actions (URL Auth)",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Performs multiple actions on a dynamic store using URL authentication.\n\n```typescript\nconst response = await fetch('https://api.bitbadges.io/api/v0/bin-actions/batch/:binId/:binSecret', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: payload\n});\nconst data = await response.json();\nconsole.log(data);\n```\n\n```tsx\nawait BitBadgesApi.performBatchBinAction(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iBatchBinActionSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "binId",
            "in": "path",
            "description": "The ID of the dynamic store",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "binSecret",
            "in": "path",
            "description": "The secret key for the dynamic store",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchBinActionPayload"
              }
            }
          }
        }
      }
    },
    "/bin-actions/batch": {
      "post": {
        "operationId": "performBinActionBatchWithBodyAuth",
        "summary": "Perform Batch Bin Actions (Body Auth)",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Performs multiple actions on a dynamic store using body authentication.\n\n```typescript\nconst response = await fetch('https://api.bitbadges.io/api/v0/bin-actions/batch', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: {\n    dynamicDataId: binId,\n    dataSecret: binSecret,\n    actions: actions\n  }\n});\nconst data = await response.json();\nconsole.log(data);\n```\n\n```tsx\nawait BitBadgesApi.performBatchBinAction(...);\n```",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
[...]
